.accueil{
    margin: 20px 50px;
}
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery-item{
    height: 300px;
    width: 500px;
    padding: 5px;
    margin: 10px auto;
}

img{
    max-width: 100%;
    min-height: 100%;
}
